package wireless

config wifi-device 'radio0'
    option channel 'auto'
    option country 'FR'
    option disabled '0'
    option htmode 'VHT80'
    option hwmode '11a'
    option legacy_rates '1'
    option type 'mac80211'

config wifi-iface 'default_radio0'
    option device 'radio0'
    option encryption 'psk2'
    option mode 'ap'
    option network 'lan'
    option ssid 'mgn-owrt-50'

config wifi-device 'radio1'
    option channel 'auto'
    option country 'FR'
    option disabled '0'
    option htmode 'HT20'
    option hwmode '11g'
    option legacy_rates '1'
    option type 'mac80211'

config wifi-iface 'default_radio1'
    option device 'radio1'
    option encryption 'psk2'
    option mode 'ap'
    option network 'lan'
    option ssid 'mgn-owrt-24'
