package dhcp

config host 'cfg05fe63'
    option dns '1'
    option ip '192.168.1.143'
    option name 'mgn-rpi'

config host 'cfg06fe63'
    option dns '1'
    option ip '192.168.1.123'
    option name 'mgn-nas'

config host 'cfg07fe63'
    option name 'mgn-netatmo'

config host 'cfg08fe63'
    option name 'mgn-n5x'

config host 'cfg09fe63'
    option name 'mgn-n9'

config host 'cfg0afe63'
    option name 'mgn-mibox'

config host 'cfg0bfe63'
    option name 'mgn-ps3'

config host 'cfg0cfe63'
    option name 'mgn-ps2'

config host 'cfg0dfe63'
    option name 'mgn-ps4'

config host 'cfg0efe63'
    option name 'mgn-nsw'

config host 'cfg0ffe63'
    option name 'mgn-utbk'

config host 'cfg10fe63'
    option name 'mgn-utbk'

config host 'cfg11fe63'
    option name 'mgn-wii'

config host 'cfg12fe63'
    option name 'mgn-wiiu'

config host 'cfg13fe63'
    option name 'mgn-rog'

config host 'cfg14fe63'
    option name 'mgn-rog'

config host 'cfg15fe63'
    option name 'mgn-tv'

config host 'cfg16fe63'
    option name 'mgn-avr'

config host 'cfg17fe63'
    option name 'mgn-dktp'
